/*
COLOUR PALLETE

BASE PURPLE #9C27B0
DEEP PURPLE #7B1FA2
LITE PURPLE #AB47BC

BASE RED #F44336
LITE RED #EF5350

WHITE #F3E5F5
*/

@font-face {
	font-family: voll;
	src: url('../fonts/voll.ttf');
}

@font-face{
	font-family: essay;
	src: url('../fonts/essay.woff');
}

@font-face{
	font-family: regular;
	src: url('../fonts/Roboto-Regular.ttf');
}

@font-face{
	font-family: medium;
	src: url('../fonts/Roboto-Medium.ttf');
}

@font-face{
	font-family: bold;
	src: url('../fonts/Roboto-Bold.ttf');
}

body{
	margin-top: 40px;
	font-family: regular;
	background: #F3E5F5;
	/*background: url('../img/palewoodpanel.jpg');*/
}

/*Navbar*/

.navbar-default{
	border-radius: 0px;
	border-style: none;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	/*background: #333;*/
	background: #9C27B0;
	margin-bottom: 0px;
}

.navbar-default .navbar-brand{
	color: #FFF;
	font-family: medium;
}

.navbar-default .navbar-nav li a{
	color: #FFF;
	font-family: medium;
}

.navbar-default .navbar-nav li a:hover{
	color: #FFF;
}

.navbar-default .navbar-nav li a:focus{
	color: #FFF;
}

.dropdown-menu{
	background: #AB47BC;
}

.dropdown-menu li a{
	color: #FFF;
}

.dropdown-menu li a:hover{
	background: #EF5350;
}

.navbar-fixed-bottom{
	background: transparent;
	box-shadow: none;
}

.navbar-default .navbar-toggle{
	border-style: none;
}

.navbar-default .navbar-toggle:hover{
	border-style: none;
	background: transparent;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: #FFF;
}

/*button .navbar-toggle .collapsed{
	border-style: none;
}*/

/*main*/

.jumbotron{
	background: url('../img/chalkboard_globe_all.jpg') fixed;
	background-repeat: no-repeat;
	background-size: cover;
	color: #FFF;
	/*box-shadow: inset 1px 1px 10px #000;*/
}

.jumbotron h1{
	/*margin-top: 30px;*/
	margin-bottom: 30px;
	font-family: essay;
}

.jumbotron .img-logo{
	/*margin-top: 30px;*/
	height: 150px;
	width: 150px;
}

.main-cta-button{
	/*margin-top: 20px;*/
	border-style: none;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


/*login and landing page*/

.login-form{
	background: transparent;
	box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.16);
	border-radius: 2px;
}

.login-card{
	margin-top: 70px;
}

.login-errors{
	color: #F44336;
}

/*card*/

.card-content{
	background: #FFF;
	font-size: 15px;
}

.card-action{
	background: #FFF;
}

.btn{
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	border-radius: 2px;
}

.score-text{
	font-size: 60px;
}

.card .card-action a:hover{
	color: #03A9F4;
}

.card .card-action a{
	color: #8b4696;
}