<style type="text/css">
body{
	/*background: url('../img/palewoodpanel.jpg');*/
}
</style>

<div ng-controller="testDeskCtrl">

	<div ng-include="'modMain/navbar.html'"></div>
	
	<div class="jumbotron">
		<div class="container">
			<h1> {{testName}}</h1>
		</div>
	</div>

	<div class="container">

		<!-- test form -->
		<form>
			<!-- question card -->
			<div class="col-md-4" ng-repeat="entry in data">
				<div class="card">
					<div class="card-image">
						<img class="img-responsive" src="img/lib-min.jpg">

						<span class="card-title header-text">{{entry.question.question}}</span>
					</div>

					<!-- possible answers form -->
					<div class="card-content sub-text">
						<div class="radio">
							<label>
								<input type="radio" name="{{entry.question_number}}"> {{entry.question.option_a}}
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="{{entry.question_number}}"> {{entry.question.option_b}}
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="{{entry.question_number}}"> {{entry.question.option_c}}
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="{{entry.question_number}}"> {{entry.question.option_d}}
							</label>
						</div>
					</div>
<!-- 					<div class="card-content sub-text">
						<button class="btn btn-danger btn-sm main-cta-button" ng-click="takeTest(test.id)">Take this test</button>
					</div> -->
				</div>
			</div>
		</form>

	</div>

</div>